
.contactcontainer {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  margin-top: 4%;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



#status {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .contactcontainer {
      width: 95%;
      margin-top: 13%;
  }
}